/* **********************
       Common-Start
********************** */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
:root {
    --bg-color: #161616;
    --btn-bg: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    --text-color-white: #fff;
    --text-color-black: #161616;
    --btn-hover-color: linear-gradient(88.33deg, #e98e39 -7.64%, #302929 145.94%);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

h1,
h2.h3,
h4,
p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;

}
.btn{
    background-image: var(--btn-bg);
padding: 12px 20px;
border-radius: 5px;
color: var(--text-color-white);
}
.btn:hover{
    background-image: var(--btn-hover-color);
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width:576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width:768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width:992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px;
	}
}


/* **********************
       Common-End
********************** */



/* *****************************
    Hero-Section-Style-Start
******************************** */
.hero-section {
    background-color: var(--bg-color);
    color: var(--text-color-white);
    padding: 0 100px 0 100px;
    margin-top: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.hero-section .hero-item {
    width: 45%;
}

.hero-section h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 60px;
}

.hero-section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0 40px 0;
}

.hero-section a {
    background-image: var(--btn-bg);
    padding: 16px 25px;
    border-radius: 5px;
    color: var(--text-color-white);

}

.hero-section a:hover {
    background-image: var(--btn-hover-color);

}

.hero-section a:hover .fa-solid {
    transform: translate(8px);
    transition: 1s;
}

.hero-section img {
    position: absolute;
    max-width: 500px;
    top: 124px;
    transition: 1s;
    animation: right-to-left 3s linear infinite;
}

@keyframes right-to-left {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: -10px;
        transition: 0.5s;
    }

    100% {
        margin-left: 0;
    }
}



/* *****************************
    Hero-Section-Style-End
******************************** */



/* *****************************
       Blog-Style-Start
******************************** */
.blog-section {
    margin: 100px auto;
    /* display: grid;
    grid-template-areas: "aside content ";
    grid-gap: 10px; */
    display: flex;
 

}

.blog-section aside {
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 600px;
    margin-right: 20px;
    height: 320px;

}

.blog-section aside ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    justify-content: space-evenly;
}

.blog-section aside ul li:hover {
   transition: 0.6s;
}
.blog-section aside ul li:hover {
    transform: translateY(-8px);
}

.aside-btn {
    color: var(--text-color-black);
    background: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    transition: 0.6s;
    border: 1px solid #E8E8E8;
   
}

aside ul li:nth-child(1) .aside-btn{
    padding: 20px 45px;
}
aside ul li:nth-child(2) .aside-btn{
    padding: 20px 85px;
}

aside ul li:nth-child(3) .aside-btn{
        padding: 20px 108px;
 }

 .active {
    color: var(--text-color-white);
    background: var(--btn-bg);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px;
    box-shadow: rgb(255 255 255) 0px 2px 10px -2px;
}

.aside-btn:hover{
    color: var(--text-color-white);
    background: var(--btn-hover-color);
    transform: translateY(-5px);
    transition: 0.6s;
}


.blog-section article {
    flex-grow: calc(100% - 280px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-items: center;
}

.cards-img {
    max-width: 350px;
}

.cards {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: 0.8s;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.cards:hover{
    transform: translateY(-12px);
}

.cards-content {
    margin-left: 20px;
}

.cards-content p {
    font-weight: 600;
    font-size: 1em;
    line-height: 27px;
    color: var(--text-color-black);
    padding: 5px 12px 10px 0px;

}

.cards-content ul {
    font-size: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    color: rgba(22, 22, 22, 0.7);
    margin-bottom: 20px;
}

.cards-content ul li span {
    margin-left: 15px
}

.cards a {
    border: 1px var(--text-color-black) solid;
    border-radius: 5px;
    color: var(--text-color-black);
    padding: 2px 10px;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

.view-btn{
    margin: 20px auto;
    display: none;
}

/* *****************************
       Blog-Style-End
******************************** */


/* *****************************
       Flag-Style-Start
******************************** */
.flag{
    display: flex;
    align-items: center;
}

.flag-cards{
    margin: 25px;
    text-align: center;
}
.flag-cards h6{
    margin: 0 5px;
    font-size: 12px;
}
.flag-cards h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin: 18px 0 10px 0;
}
.flag-cards p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
}
.flag img{
    width: 84px;
    height: 56.18px;
}

/* *****************************
       Flag-Style-end
******************************** */



/* *****************************
       Footer-Style-Start
******************************** */
footer{
    background-color: var(--bg-color);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 200px;
  
}
.footer-content h3{
    font-size: 3em;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: var(--text-color-white);
}
.footer-content hr{
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

}
.footer-content ul{
display: flex;
justify-content: space-around;
}
.footer-content ul li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
    transition: 1s;
}
.footer-content ul li a:hover{
    border-bottom: 0.5px gray solid;
      
}

.footer-content .social{
    display: flex;
    justify-content: center;
}
.footer-content .social li{
   margin-left: 20px;
}
.footer-content .social li a{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B9B9B9;
    transition: 1s;
}
.footer-content .social li a:hover{
    border-bottom:unset;
}
.footer-content .fa-brands, .fab{
    transition: 1s;
}
.footer-content .fa-brands:hover{
       transform: translateY(-10px);
}

/* *****************************
       Footer-Style-End
******************************** */


/* *****************************
       Scroll-top-Style-Start
******************************** */
.scroll-top {
 
    position: relative;
     
     text-align: center;
    cursor: pointer;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    border: none;
   
}
.scroll-top a{
 color: var(--text-color-white);
}
.fa-angle-up{
    color: var(--text-color-white);
    font-size: 30px;
    position: relative;
    bottom: -13px;
    transition: 1s;
}
.fa-angle-up:hover{
    transform: translateY(-10px);
}

/* *****************************
       Scroll-top-Style-End
******************************** */


/* *****************************
      Tab-Media Style-Start
******************************** */


@media (min-width: 580px) and (max-width: 850px) {
    .hero-section {
        height: 460px;
    }

    .hero-content {
        margin-left: -40px;
    }


    .hero-section h1 {
        font-size: 2em;
        font-weight: 700;
        line-height: 35px;
    }

    .hero-section p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 10px 0 30px 0;
    }

    .hero-section a {
        background-image: var(--btn-bg);
        padding: 12px 20px;
        border-radius: 5px;

    }

    .hero-section img {
        position: absolute;
        max-width: 300px;
        top: 12.2em;

    }

    .blog-section {
        flex-direction: column;
        margin: 50px auto;
    }



    .blog-section aside {
        background-color: unset;
        border-radius: unset;
        width: unset;
        margin-right: unset;
        height: unset;
    }

    .blog-section aside ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: unset;
        margin-bottom: 60px;
        justify-content: space-evenly;
    }

    .aside-btn {
        font-size: 16px;
    }

    aside ul li:nth-child(1) .aside-btn {
        padding: 20px 10px;
    }

    aside ul li:nth-child(2) .aside-btn {
        padding: 20px 20px;
    }

    aside ul li:nth-child(3) .aside-btn {
        padding: 20px 50px;
    }

    .blog-section article {
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-content p {
        font-weight: 600;
        font-size: 18.7675px;
        line-height: 28px;
    }
    .d-none {
        display: none;
    }

    .view-btn {
        display: block;
    }
    .footer-content .social {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

}

/* *****************************
      Tab-Media Style-End
******************************** */


/* *****************************
      Mobile-Media Style-Start
******************************** */

@media (min-width: 80px) and (max-width: 579px) {
    .hero-section {
        background-color: var(--bg-color);
        color: var(--text-color-white);
        padding: 35px 35px 0 35px;
        margin-top: 5px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        height: 540px;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-section h1 {
        font-size: 22px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;
    }
    .hero-section p {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        margin: 10px 0 25px 0;
        text-align: center;

    }
    .hero-section .hero-item {
        width: unset;
    }


    .hero-section a {
        background-image: var(--btn-bg);
        padding: 10px 25px;
        border-radius: 5px;
        color: var(--text-color-white);
        font-size: 12px;
    }

    .hero-section img {
        max-width: 250px;
        position: absolute;
        top: 17.6em;
        left: 7em;
        animation: right-to-left 3s linear infinite;
    }
 
    .blog-section {
        flex-direction: column;
        margin: unset;
    }



    .blog-section aside {
        background-color: unset;
        border-radius: unset;
        width: unset;
        margin-right: unset;
        height: unset;
    }

    .blog-section aside ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-bottom: unset;
        justify-content: space-evenly;
    }

    .aside-btn {
        font-size: 16px;
    }

    aside ul li:nth-child(1) .aside-btn{
        padding: 20px 45px;
    }
    aside ul li:nth-child(2) .aside-btn{
        padding: 20px 45px;
    }
    
    aside ul li:nth-child(3) .aside-btn{
            padding: 20px 45px;
     }

    .blog-section article {
        grid-template-columns: repeat(1, 1fr);
    }
    .cards-img {
        max-width: 100%;
    }

    .cards-content p {
        font-weight: 600;
        font-size: 18.7675px;
        line-height: 28px;
    }



    .d-none {
        display: none;
    }

    .view-btn {
        display: none;
    }
    footer {
            height: 450px;
          }
    .footer-content ul {
        display: flex;
        justify-content:unset;
        flex-direction: column;
        align-items: center;
    }
    .footer-content ul li{
        margin: 8px auto;
    }
    .footer-content .social {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .scroll-top {
        
        top: 75px;
      
    }

}


/* *****************************
      Mobile-Media Style-End
******************************** */

